/*reset*/
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,form,input,textarea,fieldset,legend,select,th,td{margin:0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;color:#333333;}
img{border:0;}
body{font-size: 12px;font-family: "Î¢ÈíÑÅºÚ";}

/*public*/
.l{float: left;}
.r{float: right;}
.clr{zoom:1;}
.clr:after{content: "";display: block;clear: both;}
.border0{border:0;}